<div class="container-fluid">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <div class="sticky bg-white pt-4 animated delay-3s bounceInUp">
      <h3 class="font-weight-bold black-text">ABOUT US</h3>
      <hr>
    </div>
    <!--First row-->
    <div class="row overflow">
      <div class="container">
        <div class="row my-5">
          <div class="col-lg-3 col-sm-12 col-xs-12 my-5 py-4" data-aos="fade-right" data-aos-duration="1000">
            <h1><b>Problem</b></h1>
          </div>
          <div class="col-lg-9 col-sm-12 col-xs-12">
            <div class="text-justify" data-aos="flip-up" data-aos-duration="1000">
              <p><b>"When tillage begins, other arts follow. The farmers, therefore, are the founders of human civilization."
                --Daniel Webster<br></b></p>
                <p>India’s population increased in 3.7 times from 1950-51 to 2016-17, total agricultural workers have
                   increased 2.7 times from 1950-51 to 2016-17 but the percentage of agriculture equipment has been
                   decreased from 63.58 percent in 1991 and it was only 42.73 percent in 2017. This data clearly shows
                   the sad picture of the agriculture field. Another major issue is that majority of the farmers in India
                   fall under the category of small and marginal farmers for instance out of the  23 million farmers in UP
                  92.5 percent or 21.5 million farmer come under the category of small farmers. The ratio of small farmers
                  stand much higher  than big farmers. They lack big machinery and other aid beacuse of the shortage of
                  money beacuse of the shortage of money. High yielding seeds can add upto 20 percent more production 
                  and an icrement of 15-20% in income but farmers are already traped in the vicious cycle of debt that
                  they can't invest in anything else.</p>
            </div>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-lg-3 col-sm-12 col-xs-12 my-5 py-4" data-aos="fade-right" data-aos-duration="1000">
            <h1><b>Solution</b></h1>
          </div>
          <div class="col-lg-9 col-sm-12 col-xs-12">
            <div class="text-justify">
              <p data-aos="flip-up" data-aos-duration="1000">Distribution of Agri machinery and equipments on rental-Pay per use to  the 
                can benefit them. This can be done on the basis of farmers working model Faas (farming as a service ).
                 Also providing seed, fertilizer including Bio-fertilizer can help the farmers.There is another way of creating opportunities
                 by running  Agri Awareness Programs which can give new innovative ideas and recent technologies such as information and communication
                technology, Artificial Intelligence, Internet of Things, Bigdata in Agriculture.</p>

              <p data-aos="flip-up" data-aos-duration="1000">Krishakkart Agro Innovation has solution to farmers which he faces while growing
                crops in field, such as finding
                agriculture machines timely whether it’s Post harvesting, ploughing, etc. or selection to right
                fertilizer, selection of seeds in the world of variety of seed.</p>

              <p data-aos="flip-up" data-aos-duration="1000">Technological importance have been a great support for making
                decisions in various fields especially in
                agriculture. The development of agriculture has been on under development since the ancient time due to
                lack of Agriculture knowledge and environmental changes. Our main aim is to reach farmers for their need
                of mechanization, awareness of new technology and weather.</p>

              <p data-aos="flip-up" data-aos-duration="1000">Krishakkart Agro Innovation using sharing concept in the field of farm machinery
                as a name KSSC(Krishak Sewa Suvidha
                Centers) where needy farmer can find Agriculture machines on rent. In next phase we have to establish
                Maitree shops for agriculture input. The study used statistical survey design technique to collect data
                from farmers for their awareness in agriculture to provide support.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container-fluid">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <div class="sticky bg-white pt-4">
      <h3 class="font-weight-bold black-text">WHY TO SELECT KRISHAKKART AGRO INNOVATION</h3>
      <hr>
    </div>
    <!--First row-->
    <div class="row">
      <div class="container">
        <div class="row my-5 py-5">
          <div class="col-lg-12 col-sm-12 col-xs-12 pb-3">
            <div class="text-justify" data-aos="zoom-in" data-aos-duration="1000">
              <p>In today’s world of information everyone can access the information from everywhere, than in this time
                of competition why you will select us is also depends on your decision. Krishkkart doesn’t believe to
                influence people by the words. We believe in Innovation and usage of new recent technology in
                agriculture. The services which provide to you are:</p>
              <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                  <ul>
                    <li data-aos="slide-up" data-aos-duration="1000">Agriculture Machinary on rent at cheaper rates on
                      KSSC nodes.</li>
                    <li data-aos="slide-up" data-aos-duration="1000">Agriculture Awareness.</li>
                    <li data-aos="slide-up" data-aos-duration="1000">Usage of new innovative technology in agriculture.
                    </li>
                    <li data-aos="slide-up" data-aos-duration="1000">To sale high yielding seeds and fertilizers
                      suggested by agriculture scientist on retail and
                      wholesale prices at Maitree Shops.</li>
                    <li data-aos="slide-up" data-aos-duration="1000"><a href="http://agropedia.iitk.ac.in/">Knowledge of
                        Agriculture.</a></li>
                  </ul>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                  <ul>
                    <li data-aos="slide-up" data-aos-duration="1000">Real time weather updates to Farmers.</li>
                    <li data-aos="slide-up" data-aos-duration="1000">Connection amongs Farmers and Consumers when they
                      are in need such as Maximum price for Farmers
                      and good quality cerels to Consumers.</li>
                    <li data-aos="slide-up" data-aos-duration="1000">Provides information of warehouses to store the
                      goods</li>
                    <li data-aos="slide-up" data-aos-duration="1000">Tactics to get rid of insects and protection from
                      the natural disasters</li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>