<div class="container-fluid">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <div class="sticky bg-white pt-4">
      <h3 class="font-weight-bold black-text">OUR PRODUCTS</h3>
      <hr>
    </div>
    <!-- Section description -->
    
    <!--First row-->
    <div class="row my-5 py-5">
      <!--Grid column-->
      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="200">
        <a href="#" class="card hoverable" style="text-decoration: none;">
          <div class="card-body my-3">
            <img class="card-img-top" src="assets\images\Hybridseeds.webp" alt="Card image cap" Height="176px" >
            <h5 class="black-text pt-3">High Yielding Seeds</h5>
          </div>
        </a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="200">
        <a href="#" class="card hoverable" style="text-decoration: none;">
          <!-- Card content -->
          <div class="card-body my-3">
            <img class="card-img-top" src="assets\images\fertiliser.webp" alt="Card image cap" Height="176px">
            <h5 class="black-text pt-3">Fertilizer</h5>
          </div>
        </a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="200">
        <a href="#!" class="card hoverable" style="text-decoration: none;">
          <div class="card-body my-3">
            <img class="card-img-top" src="assets\images\bio-fertilizer.webp" alt="Card image cap"
              Height="176px">
            <h5 class="black-text pt-3">Bio-Fertilizer</h5>
          </div>
        </a>
      </div>
      <!--Grid column-->
    </div>
  </section>
</div>