<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div>
  <header id="HomePage" class="animated delay-1s fadeInDown">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
          <div class="text-center my-1">
            <button mat-button class="text-white text-decoration-none">Contact Us : +91-8505937520</button>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 my-auto">
          <div class="text-center my-1">
            <!-- <a class="mr-4"><img src="assets\logo\Google_play_store.png" width="120px;" height="auto"></a> -->
            <a href="https://www.facebook.com/Krishakkart-103547904365081/" class="mx-2"><i
                class="fa fa-facebook-f text-white"></i></a>
            <a href="https://www.linkedin.com/pulse/agriculture-machinery-rental-basis-krishakkart-an-effort-pandey/"
              class="mx-2"><i class="fa fa-linkedin text-white"></i></a>
            <a href="" class="mx-2"><i class="fa fa-google-plus text-white"></i></a>
            <a href="" class="mx-2"><i class="fa fa-twitter text-white"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid sticky-top bg-white second_header animated delay-2s fadeInDown">
    <nav class="container navbar navbar-light navbar-expand-sm">

      <img src="assets\logo\kkheaderlogo.png" class="navbar-brand" height="80px" />

      <div class="d-md-none d-sm-block ml-auto">
        <button type="button" class="btn btn-link" (click)="a2hs()"><img
            class="animated tada slow infinite"
            src="https://img.icons8.com/ios-glyphs/30/A9A9A9/medical-mobile-app-2.png" /></button>
        <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <li>
            <a class="nav-link" pageScroll href="#HomePage">Home</a>
          </li>
          <li>
            <a class="nav-link" pageScroll [pageScrollOffset]="70" href="#about">About</a>
          </li>
          <li>
            <a class="nav-link" pageScroll [pageScrollOffset]="75" href="#products">Products</a>
          </li>
          <li>
            <a class="nav-link" pageScroll [pageScrollOffset]="75" href="#services">Services</a>
          </li>
          <li>
            <a class="nav-link" pageScroll [pageScrollOffset]="75" href="#network">Our Network</a>
          </li>
          <li>
            <a class="nav-link" pageScroll [pageScrollOffset]="70" href="#contact">Contact Us</a>
          </li>
        </ul>

        <!-- <ul class="navbar-nav" *ngIf="false">
      <li>
        <a class="nav-link" href="#">Login</a>
      </li>
      <li>
        <a class="nav-link" href="#">Signup</a>
      </li>
    </ul> -->
      </div>
      <div class="animated tada slow infinite d-lg-none d-md-block d-none">
        <button type="button" class="btn btn-link" (click)="a2hs()">
          <img src="https://img.icons8.com/ios-glyphs/30/A9A9A9/medical-mobile-app-2.png" />
        </button>
      </div>
    </nav>
  </div>

  <app-kk-banner></app-kk-banner>
  <app-kk-about id="about"></app-kk-about>
  <app-kk-products id="products"></app-kk-products>
  <app-kk-services id="services"></app-kk-services>
  <app-kk-network id="network"></app-kk-network>
  <app-kk-testimonials></app-kk-testimonials>
  <app-kk-recognize></app-kk-recognize>
  <app-kk-contact-us id="contact"></app-kk-contact-us>
  <app-kk-footer></app-kk-footer>
</div>
