<div class="container h-75">
  <div class="row justify-content-center align-items-center h-100">
      <mat-card-header>
        <mat-card-title>
          <div class="text-center">
            <img src="assets\logo\kkheaderlogo.png" width="35%" />
            <h6 class="text-darkslateblue">Friends of Farmer</h6>
            <p class="text-darkslateblue">Password Reset</p>
          </div>
        </mat-card-title>
      </mat-card-header>

      <!-- Password Reset Form -->

      <form [formGroup]="pwdResetFormGroup">
        <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label> Current Password</mat-label>
              <input matInput [type]="currphide ? 'text':'password'" placeholder="Cureent Password" formControlName="currpassword">
              <mat-icon matSuffix (click)="currphide = !currphide" class="pointer">{{phide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="pwdResetFormGroup?.controls?.currpassword?.hasError('required')">Password is
                <strong>required.</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="phide ? 'text':'password'" placeholder="Set Password" formControlName="password">
              <mat-icon matSuffix (click)="phide = !phide" class="pointer">{{phide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-hint matTooltip="• Password should be 6 Alphanumeric Characters. &#13; • Password should contain atleast 1 special Character. &#13; • Password should contain atleast 1 uppercase letter. &#13; • Password should contain atleast 1 lowercase letter. &#13; • Password should contain atleast 1 number."
              matTooltipClass="multiple-line">Password Hint</mat-hint>
              <mat-error *ngIf="pwdResetFormGroup?.controls?.password?.hasError('required')">Password is
                <strong>required.</strong></mat-error>
              <mat-error *ngIf="pwdResetFormGroup?.controls?.password?.hasError('pattern')">Password is not
                <strong>strong.</strong></mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="cphide ? 'text':'password'" formControlName="cpassword" placeholder="Set Password" CompareValidator="password">
              <mat-icon matSuffix (click)="cphide = !cphide" class="pointer">{{cphide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="pwdResetFormGroup?.controls?.cpassword?.hasError('required')">Confirm Password is
                <strong>required.</strong></mat-error>
              <mat-error *ngIf="pwdResetFormGroup?.controls?.cpassword?.hasError('notEqual')">Password does not
                <strong>match.</strong></mat-error>
            </mat-form-field>
        </mat-card-content>

        <div class="ml-auto">
          <button mat-raised-button color="darkslateblue" (click)="pwdUpdate()">
            Reset Password <mat-icon>arrow_forward</mat-icon></button>
        </div>
      </form>
  </div>
</div>
