<div class="container-fluid">
    <div class="row bg-white">
        <div class="col-xl-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="text-center my-2">
                <button mat-button class="text-dark text-decoration-none">Contact Us : +91-8505937520</button>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-12 col-xs-12 my-1">
            <div class="text-center">
                <a class="mr-4"><img src="assets\logo\Google_play_store.png" width="120px;" height="auto"></a>  
                <a href="https://www.facebook.com/Krishakkart-103547904365081/" class="mx-2"><i class="fa fa-facebook-f" style="color: rgb(66, 103, 178);"></i></a>
                <a href="https://www.linkedin.com/pulse/agriculture-machinery-rental-basis-krishakkart-an-effort-pandey/" class="mx-2"><i class="fa fa-linkedin text-primary"></i></a>
                <a href="" class="mx-2"><i class="fa fa-google-plus text-danger"></i></a>
                <a href="" class="mx-2"><i class="fa fa-twitter text-info"></i></a>
            </div>       
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark d-md-block d-none">
    <div class="container-fluid justify-content-center">
        <a href="#">
            <img src="assets\logo\kkheaderlogo.png" height="50">
        </a>
        <h4 class=" ml-4 text-white">Krishakkart - Friends of farmer</h4>
    </div>
</nav>

<!--Below Medium Screen-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark d-block d-md-none">
    <div class="container-fluid justify-content-center">
        <a href="#" class="text-white text-decoration-none">
            <img src="assets\logo\kkheaderlogo.png" height="32">
            Krishakkart - Friends of farmer
        </a>
    </div>
</nav>