<!--Medium Screen-->
<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="mr-auto bg-light">
        <a href="" class="text-dark">Toll Free Number : 1800-400-2428</a>
    </div>
    <div class="mx-auto">

    </div>

    <div class="ml-auto" style="margin-top: -30px;margin-bottom: -30px;">
        <a class="navbar-brand"><img src="assets\logo\Google_play_store.png" width="125px;" height="auto"></a>

        <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fa fa-facebook-f"></i></a>
        <!--Twitter-->
        <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fa fa-twitter"></i></a>
        <!--Google +-->
        <a class="btn-floating btn-lg btn-gplus" type="button" role="button"><i class="fa fa-google-plus"></i></a>
        <!--Linkedin-->
        <a class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fa fa-linkedin"></i></a>
        <!--Instagram-->
        <a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fa fa-instagram"></i></a>
    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-dark d-md-block d-none">
    <div class="container-fluid justify-content-center">
        <a href="#">
            <img src="assets\logo\kkheaderlogo.png" height="50">
        </a>
        <h4 class=" ml-4 text-white">Krishakkart - Friends of farmer</h4>
    </div>
</nav>

<!--Below Medium Screen-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark d-block d-md-none">
    <div class="container-fluid justify-content-center">
        <a href="#" class="text-white text-decoration-none">
            <img src="assets\logo\kkheaderlogo.png" height="32">
            Krishakkart - Friends of farmer
        </a>
    </div>
</nav>