<section class="container-fluid">
  
    <!-- <h3 class="text-center">Contact Us</h3> -->
    <div class="sticky bg-white text-center">
      <h3 class="font-weight-bold black-text pb-2">Contact Us</h3>
      <hr>
    </div>
    <div class="container">
    <div class="row pt-5">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="row">
          <div class="col-2">
            <div class="contact-icon text-center">
              <i class="fa fa-home fa-2x text-white"></i>
            </div>
          </div>
          <div class="col-10 pl-5">
            <h5>Visit Us</h5>
            <p><strong>Head office : </strong>TBI-KIET, 13 KM Stone, Muradnagar, Ghaziabad</p>
            <p><strong>Registerd off : </strong>vill- Kusumha, Post-Naibazar, Dist-Sonbhadra</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="row">
          <div class="col-2">
            <div class="contact-icon text-center">
              <i class="fa fa-envelope fa-2x text-white"></i>
            </div>
          </div>
          <div class="col-10 pl-5">
            <h5>Mail Us</h5>
            <p>sanjay.sonebhadra@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="row">
          <div class="col-2">
            <div class="contact-icon text-center">
              <i class="fa fa-phone fa-2x text-white"></i>
            </div>
          </div>
          <div class="col-10 pl-5">
            <h5>Call Us</h5>
            <p>+91-8505937520</p>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="message_send">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Eg. Ram Kumar" formControlName="name" #name>
          <mat-error *ngIf="message_send?.controls?.name?.hasError('required')"> Name is <strong>required.</strong></mat-error>
          <!-- <mat-error *ngIf="message_send?.controls?.name?.hasError('pattern')"> Please enter only <strong>Characters.</strong></mat-error> -->
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Eg. example@email.com" formControlName="email" #email>
          
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Eg. 8123185479" formControlName="contact" #contact>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Leave a message</mat-label>
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows='5' cdkAutosizeMaxRows='5'
            placeholder="Need Service / Product"></textarea>
        </mat-form-field>

        <button mat-raised-button class="w-100 mt-2" color="success"><i class="fa fa-paper-plane mr-2"></i>Send</button>
      </div>
    </div>
  </form>
  </div>
</section>

<div #mapContainer id="map" class="mt-5"></div>
