.spacer {
  flex: 1 1 auto;
}

.rounded-corner {
    border-radius: 20px;
}

::ng-deep .mat-stroked-button {
    outline: 0 !important;
}

/*Media Query for Laptop and Above*/
  
@media (min-width: 992px) {
    .logo {
        width: 6%;
    }

    .profile-icon-toolbar {
        width: 33px;
    }
}
  
/* Media Query for Tablets and less */
  
@media (max-width: 991.98px) {
    .logo {
        width: 10%;
    }   

    .profile-icon-toolbar {
        width: 33px;
    }
}
  
/*Media Query for Phones/ Mobiles and less*/
  
@media (max-width: 767.98px) {
    .logo {
        width: 15%;
    }    
}

/* CSS Dialog  */

.dialog-profile-icon {
    height: 100px;
    width: 100px;
    font-size: 100px;
}