<mat-toolbar>
    <img src="../../../assets/logo/kkheaderlogo.png" alt="logo" class="logo"/>
    <span class="ml-2">{{title}}</span>
    <span class="spacer"></span>
    <button mat-button (click)="hide = !hide">
        Hi, {{ phone || fname }}
        <mat-icon *ngIf="phone" class="pl-2">account_circle</mat-icon>
        <img *ngIf="fname" class="rounded-circle pl-2 icon" [src]="picURL" />
    </button>
    <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>

<!-- Hello -->

<mat-card [hidden]="hide">
    <h1>{{name}}</h1>
    <mat-card-actions align="center">
        <button mat-stroked-button class="rounded-corner">Manage your Krishakkart Account</button>
    </mat-card-actions>
</mat-card>