<mat-toolbar class="fixed-top">
    <img src="../../../assets/logo/kkheaderlogo.png" alt="logo" class="logo"/>
    <span class="ml-2">{{title}}</span>
    <span class="spacer"></span>
    <button mat-button (click)="profileDialog()">
        Hi, {{ phone || fname }}
        <mat-icon *ngIf="phone" class="pl-2">account_circle</mat-icon>
        <img *ngIf="fname" class="rounded-circle pl-2 profile-icon-toolbar" [src]="picURL" />
    </button>
    <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>

<div class="router-bg mt-5">
    <router-outlet></router-outlet>
</div>