<div class="container-fluid">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <div class="sticky bg-white pt-4 animated delay-3s bounceInUp">
      <h3 class="font-weight-bold black-text">ABOUT US</h3>
      <hr>
    </div>
    <!--First row-->
    <div class="row">
      <div class="container">
        <div class="row my-5">
          <div class="col-lg-3 col-sm-12 col-xs-12 my-5 py-4">
            <h1>Problem</h1>
          </div>
          <div class="col-lg-9 col-sm-12 col-xs-12">
            <div class="text-justify">
              <p>India’s population increased in 3.7 times from 1950-51 to 2016-17,total total agricultural workers have
                increased 2.7 times from 1950-51 to 2016-17 but the percentage of agriculture equipment has been
                decreased from 63.58 percent in 1991 and it was only 42.73 percent in 2017.Second reason is in our
                country small marginal farmers of the total 23 million farmers in UP, 92.5 per cent, or 21.5 million,
                fall in the small and marginal segments are bigger number than big farmers. they have not costly
                machinery. All small marginal farmers can not purchase agricultural related big machines/machine set for
                cultivation such as tractor/Harvester. Some of them stuck in the heavy loans. A lot of farmers using old
                seeds instead of high yielding seeds, by using high yielding seeds any farmer can increase 15-20 percent
                production of his farm and can get 15-20 percent more money on same field.</p>
            </div>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-lg-3 col-sm-12 col-xs-12 my-5 py-4">
            <h1>Solution</h1>
          </div>
          <div class="col-lg-9 col-sm-12 col-xs-12">
            <div class="text-justify">
              <p>Providing agri machinery and equipments on rental-Pay per use basis to farmers Working model Faas (
                farming as a service ), seed, fertilizer including Bio-fertilizer and Agri Awareness Programs to increase
                yield using new Innovative ideas and recent technologies such as information and Communication
                technology, Artificial Intelligence, Internet of Things, Bigdata in Agriculture.</p>

              <p>Krishakkart has solution to farmers which he faces while growing crops in field, such as finding
                agriculture machines timely whether it’s Post harvesting, ploughing, etc. or selection to to right
                fertilizer ,selection of seeds in the world of variety of seed.</p>

              <p>Technological importance have been a great support for making decisions in various fields especially in
                agriculture. The development of agriculture has been on under development since the ancient time due to
                lack of Agriculture knowledge and environmental changes. Our main aim is to reach farmers for their need
                of mechanization, awareness of new technology and weather.</p>

              <p>Krishakkart using sharing concept in the field of farm machinery as a name KSSC(Krishak Sewa Suvidha
                Centers) where needy farmer can find Agriculture machines on rent,In next phase we have to establish
                Maitree shops for agriculture input.. The study used statistical survey design technique to collect data
                from farmers for their awareness in agriculture to provide support.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container-fluid">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <div class="sticky bg-white pt-4">
      <h3 class="font-weight-bold black-text">WHY TO SELECT KRISHAKKART</h3>
      <hr>
    </div>
    <!--First row-->
    <div class="row">
      <div class="container">
        <div class="row my-5 py-5">
          <div class="col-lg-12 col-sm-12 col-xs-12 pb-3">
            <div class="text-justify">
              <p>In today’s world of information everyone can access the information from everywhere, than in this time
                of competition why you will select us is also depends on your decision. Krishkkart doesn’t believe to
                influence people by the words. We believe in Innovation and usage of new recent technology in
                agriculture. The services which provide to you are:</p>
              <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                  <ul>
                    <li>Agriculture Machinary on rent at cheaper rates on KSSC nodes.</li>
                    <li>Agriculture Awareness.</li>
                    <li>Usage of new innovative technology in agriculture.</li>
                    <li>To sale high yielding seeds and fertilizers suggested by agriculture scientist on retail and
                      wholesale prices at Maitree Shops.</li>
                    <li><a href="http://agropedia.iitk.ac.in/">Knowledge of Agriculture.</a></li>
                  </ul>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                  <ul>
                    <li>Real time weather updates to Farmers.</li>
                    <li>Connection amongs Farmers and Consumers when they are in need such as Maximum price for Farmers
                      and good quality cerels to Consumers.</li>
                    <li>Provides information of warehouses to store the goods</li>
                    <li>Tactics to get rid of insects and protection from the natural disasters</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
