<div class="container-fluid">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <div class="sticky bg-white pt-4">
      <h3 class="font-weight-bold black-text">ABOUT US</h3>
      <hr>
    </div>
    <!--First row-->
    <div class="row">
      <div class="container">
        <div class="row my-5">
          <div class="col-lg-8 col-sm-12 col-xs-12">
            <div class="text-justify">
              <p>Krishakkart is a solution of multiple problems of a farmer which he faces while growing crops in field,
                whether it’s harvesting, ploughing, etc. or related to fertilization, selection of seeds in the world of
                variety of seed, technologies which are used in different types of crops. It helps customers to provide
                the right information regarding seasons, weather, types of soil, affordable machinery and new techniques
                for the cropping. By which, a farmer can increase the quality of field and the production as well. It
                also provides the information where a farmer can keep his goods safe in warehouses on cheap amount which
                are available near to his home. </p>
              <p>Technological importance have been a great support for making decisions in various fields especially in
                agriculture. The development of agriculture has been on under development for the past few years due to
                lack of Agriculture knowledge and environmental changes. The main aim of this project is to reach
                farmers for their awareness, usage and perception in e-Agriculture. The study used statistical survey
                design technique to collect data from farmers for their awareness in e-Commerce and to provide them
                support by making them aware towards the new era of agriculture, where farmers can use new technologies
                as per the detail given by CHC for their soil, current weather, and the fertilizers for the perspective
                crop decided by farmers. </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12 my-5 py-4">
            <!-- Video content -->
            <div class="embed-responsive embed-responsive-16by9">
              <video class="embed-responsive-item" src="assets\videos\agri-landing-video.mp4" type="video/mp4" autoplay loop controls>
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>