<div class="container-fluid my-5">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <h3 class="font-weight-bold black-text pb-2">ABOUT US</h3>
    <hr>
    <!--First row-->
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-sm-12 col-xs-12 my-1">
            <div class="text-center">
              <button mat-button class="mx-2 text-dark text-decoration-none">Home</button>
              <button mat-button class="mx-2 text-dark text-decoration-none">About</button>
              <button mat-button class="mx-2 text-dark text-decoration-none">Products</button>
              <button mat-button class="mx-2 text-dark text-decoration-none">Services</button>
              <button mat-button class="mx-2 text-dark text-decoration-none">Blog</button>
              <button mat-button class="mx-2 text-dark text-decoration-none">Contact Us</button>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <a href="#!" class="card hoverable" style="text-decoration: none;">
              <!-- Card content -->
              <div class="card-body my-4">
                <img class="card-img-top" src="assets\images\mahindra-yuvo-tractor.png" alt="Card image cap"
                  Height="176px">
                <h5 class="black-text mb-0">Tractors</h5>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!--Grid column-->

    </div>
  </section>
</div>
