<div class="container-fluid">
  <!--Section: Content-->
  <section class="text-center dark-grey-text">
    <!-- Section heading -->
    <div class="sticky bg-white pt-4">
      <h3 class="font-weight-bold">TESTIMONIALS</h3>
      <hr class="w-header">
    </div>
    <div class="container">
      <!-- Section description -->
      <!-- <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p> -->

      <!-- Grid row -->
      <div class="row my-5">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4" data-aos="flip-left" data-aos-duration="5000" data-aos-offset="250">
          <!--Card-->
          <div class="card testimonial-card">
            <!--Background color-->
            <div class="card-up info-color"></div>
            <!--Avatar-->
            <div class="avatar mx-auto white pt-3">
              <img src="../../../assets/images/testimonials/J D Ghai.jpg" width="150px;"
                class="rounded-circle img-fluid">
            </div>
            <div class="card-body">
              <!--Name-->
              <h4 class="font-weight-bold">J D Ghai</h4>
              <h5 class="mb-4">Founder & CEO - SantaBanta.com</h5>
              <hr>
              <!--Quotation-->
              <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>
                <!-- Lorem ipsum dolor sit amet eos
                adipisci, consectetur adipisicing elit. -->
              </p>
            </div>
          </div>
          <!--Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4" data-aos="flip-left" data-aos-duration="5000" data-aos-offset="250">
         <!--Card-->
          <div class="card testimonial-card">
            <!--Background color-->
            <div class="card-up blue-gradient">
            </div>
            <!--Avatar-->
            <div class="avatar mx-auto white pt-3">
              <img src="../../../assets/images/testimonials/shivam dikshit.jpg" width="150px"
                class="rounded-circle img-fluid">
            </div>
            <div class="card-body">
              <!--Name-->
              <h4 class="font-weight-bold">Shivam Dikshit</h4>
              <h5 class="mb-4">Vice President of IoTfy</h5>
              <hr>
              <!--Quotation-->
              <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>
                <!-- Neque cupiditate assumenda in
                maiores repudiandae mollitia architecto. -->
              </p>
            </div>
          </div>
          <!--Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4" data-aos="flip-left" data-aos-duration="5000" data-aos-offset="250">
          <!--Card-->
          <div class="card testimonial-card">
            <!--Background color-->
            <div class="card-up indigo"></div>
            <!--Avatar-->
            <div class="avatar mx-auto pt-3 white">
              <img src="../../../assets/images/testimonials/Mr. Dina nath Dwivedi (Retd. Govt. Teacher).jpg" width="150px"
                class="rounded-circle img-fluid">
            </div>
            <div class="card-body">
              <!--Name-->
              <h4 class="font-weight-bold">Mr. Dina Nath Dwivedi</h4>
              <h5 class="mb-4">Retd. Govt. Teacher</h5>
              <hr>
              <!--Quotation-->
              <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>
                <!-- Delectus impedit saepe officiis
                ab aliquam repellat rem unde ducimus. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Content-->
</div>
