.rounded-corner {
    border-radius: 20px;
}

.mat-list-item {
    border-radius: 5px;
}

.mat-button.mat-textseagreen {
    color:  #009f4d;
}

.view_btn {
    margin-left: 70%;
}

/*Media Query for Laptop and Above*/
  
@media (min-width: 992px) {
    
}
  
/* Media Query for Tablets and less */
  
@media (max-width: 991.98px) {
   
}
  
/*Media Query for Phones/ Mobiles and less*/
  
@media (max-width: 767.98px) {
    #left {
        width: 35%;
        display: inline-block;
    }

    #right {
        width: 65%;
        display: inline-block;
    }

    .parent {
        white-space: nowrap;
    }
    
    .child-right {
        display:inline-block;
        white-space: normal;
    }
}
