<div class="container-fluid">
    <!--Section: Content-->
    <section class="dark-grey-text text-center">
      <div class="sticky bg-white pt-4">
        <h3 class="font-weight-bold black-text">OUR SERVICES</h3>
        <hr>
      </div>
      <!-- Section description -->
      <!--First row-->
      <div class="row my-5 pt-5">
        <!--Grid column-->
        <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="200">
          <a href="#" class="card hoverable" style="text-decoration: none;">
            <div class="card-body my-4">
              <img class="card-img-top" src="assets\images\mini-harvestor.webp" alt="Card image cap" Height="176px">
              <h5 class="black-text pt-3">Mini Harvestor</h5>
            </div>
          </a>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="200">
          <a href="#" class="card hoverable" style="text-decoration: none;">
            <!-- Card content -->
            <div class="card-body my-4">
              <img class="card-img-top" src="assets\images\laser-land-leveler.webp" alt="Card image cap" Height="176px">
              <h5 class="black-text pt-3">Laser Land Leveler</h5>
            </div>
          </a>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="200">
          <a href="#!" class="card hoverable" style="text-decoration: none;">
            <div class="card-body my-4">
              <img class="card-img-top" src="assets\images\Agricultural-Equipment.webp" alt="Card image cap"
                Height="176px">
              <h5 class="black-text pt-3">Agricultural Equipments</h5>
            </div>
          </a>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="4000" data-aos-offset="200">
          <a href="#!" class="card hoverable" style="text-decoration: none;">
            <!-- Card content -->
            <div class="card-body my-4">
              <img class="card-img-top" src="assets\images\mahindra-yuvo-tractor.webp" alt="Card image cap" Height="176px">
              <h5 class="black-text pt-3">Tractors</h5>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>