<div class="container-fluid">
    <!--Section: Content-->
    <section class="dark-grey-text text-center">
      <div class="sticky bg-white pt-4">
        <h3 class="font-weight-bold black-text">OUR SERVICES</h3>
        <hr>
      </div>
      <!-- Section description -->
      <!-- <p class="lead text-muted mx-auto my-5">It's really easy to create a landing page for your awesome product.</p> -->
      <!--First row-->
      <div class="row my-5 pt-5">
        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <a href="#" class="card hoverable" style="text-decoration: none;">
            <div class="card-body my-4">
              <img class="card-img-top" src="assets\images\mini-harvestor.jpg" alt="Card image cap" Height="176px">
              <h5 class="black-text pt-3">Mini Harvestor</h5>
            </div>
          </a>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <a href="#" class="card hoverable" style="text-decoration: none;">
            <!-- Card content -->
            <div class="card-body my-4">
              <img class="card-img-top" src="assets\images\laser-land-leveler.jpg" alt="Card image cap" Height="176px">
              <h5 class="black-text pt-3">Laser Land Leveler</h5>
            </div>
          </a>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <a href="#!" class="card hoverable" style="text-decoration: none;">
            <div class="card-body my-4">
              <img class="card-img-top" src="assets\images\Agricultural-Equipment.jpg" alt="Card image cap"
                Height="176px">
              <h5 class="black-text pt-3">Agricultural Equipments</h5>
            </div>
          </a>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <a href="#!" class="card hoverable" style="text-decoration: none;">
            <!-- Card content -->
            <div class="card-body my-4">
              <img class="card-img-top" src="assets\images\mahindra-yuvo-tractor.png" alt="Card image cap" Height="176px">
              <h5 class="black-text pt-3">Tractors</h5>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>