<div class="container-fluid">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <div class="sticky bg-white pt-4">
      <h3 class="font-weight-bold black-text">WE ARE APPRECIATED BY</h3>
      <hr>
    </div>
    <!-- Section description -->
    <!--First row-->
    <div class="carousel slide my-5 py-5" data-ride="carousel" data-interval="4000" data-aos="flip-up" data-aos-duration="4000" data-aos-offset="350">
      <!--Slideshow-->
      <div class="carousel-inner py-5">
        <div class="carousel-item active image">
          <div class="container">
            <div class="row my-5 mx-auto">
              <div class="col-lg-7 col-sm-12 col-xs-12 py-2">
                <img src=".\assets\logo\recognize_logo\assocham.png" class="w-100" height="100px" alt="assocham logo">
              </div>
              <div class="col-lg-5 col-sm-12 col-xs-12 my-auto">
                <h2>Pitch Series in Jammu</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item image">
          <div class="container">
            <div class="row my-5 mx-auto">
              <div class="col-lg-3 col-sm-3 col-xs-3 mx-auto my-auto py-2">
                <img src=".\assets\logo\recognize_logo\nidhi-eir.png" height="100px" alt="nidhi-eir">
              </div>
              <div class="col-lg-9 col-sm-9 col-xs-9 mx-auto my-auto">
                <h2>Sponsored By Enterpreneur-in-Residence Scheme</h2>
                <h4>Under Department of Science and Technology Goverment Of India</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item image">
          <div class="container">
            <div class="row my-5 mx-auto">
              <div class="col-lg-7 col-sm-12 col-xs-12 py-2">
                <img src=".\assets\logo\recognize_logo\assocham.png" class="w-100" height="100px" alt="assocham logo">
              </div>
              <div class="col-lg-5 col-sm-12 col-xs-12 my-auto">
                <h2>Pitch Series in Chandigarh</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item image">
          <div class="container">
            <div class="row my-5 mx-auto">
              <div class="col-lg-3 col-sm-3 col-xs-3 mx-auto my-auto py-2">
                <img src=".\assets\logo\recognize_logo\kiet-tbi.png" height="100px" alt="TBi logo">
              </div>
              <div class="col-lg-9 col-sm-9 col-xs-9 mx-auto my-auto">
                <h2>Supported By Technology Business Incubator TBI-KIET</h2>
                <!-- <h4>Under Department of Science and Technology Goverment Of India</h4> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
