.sticky {
    position: sticky;
    top: 80px;
    z-index: 1019;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 35px;
}
.card-body {
    padding: 50px;
    background-color:white;
    transition: transform .1s;
    margin: 0 auto;
  }
  
  .card-body:hover {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Safari 3-8 */
    transform: scale(1.2); 
  }