.bg-color {
    /* background-image: linear-gradient(to right, #bdbbbe, #50758e);
     */
    /* background-color: rgba(0, 0, 0, 0.3); */
    background: url(src\assets\background_images\admin_login_bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
  }
  
  /* .bg-img {
      height: 0;
  } */
  
  .mat-card {
    height: 300px;
    border-radius: 30px;
    width: 400px;
    margin-left: 59%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .mat-form-field {
      width: 100%;
      margin-bottom: -5px;
  }
  
  .mat-card-actions {
      margin-top: -22px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    color: black !important;
}

::ng-deep .mat-input-element {
    caret-color: black !important;
  }

  ::ng-deep .mat-form-field-label {
    color: black !important;
  }